.App {
  font-family: sans-serif;
  text-align: center;
}

.MuiInput-input {
  font-size: 60px !important;
  text-align: center;
}

.MuiFormGroup-root {
  justify-content: center;
}
.history {
  background-color: white;
}
